NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_ATRIUM_PROGRAM_ID=GH6m182Lprbfzp4TYwBmTXW3sT6c2ctoF5cyeySRuZkB
NEXT_PUBLIC_ATRIUM_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
NEXT_PUBLIC_ATRIUM_MANAGER=HPE2LaJoEHTsMmfv75bRCADqifyCfappD2hfHGaqEMux
NEXT_PUBLIC_ATRIUM_ESTATE_NAME=Cedar Grove Estate
